system_ext/apex/com.android.vndk.v30.apex
system_ext/priv-app/Settings/Settings.apk
modem.img
product/app/Photos/Photos.apk
product/app/Gmail2/Gmail2.apk
product/app/Biometric/Biometric.apk
product/app/TrichromeLibrary64/TrichromeLibrary64.apk
product/data-app/MIMediaEditorGlobal/MIMediaEditorGlobal.apk
product/priv-app/MiuiCamera/MiuiCamera.apk
product/priv-app/GmsCore/GmsCore.apk
product/priv-app/ExtraPhotoGlobal/ExtraPhotoGlobal.apk
product/priv-app/Velvet/Velvet.apk
boot.img
mi_ext/product/app/MIUIVideoPlayer/MIUIVideoPlayer.apk
mi_ext/product/data-app/Opera/Opera.apk
mi_ext/product/data-app/SmartHome/SmartHome.apk
mi_ext/product/priv-app/MIBrowserGlobal_builtin_before_2021/MIBrowserGlobal_builtin_before_2021.apk
mi_ext/product/priv-app/Messages_arm64_xxhdpi/Messages_arm64_xxhdpi.apk
